

*{
    font-family: 'Raleway', sans-serif;

}

.main-navbar{
    min-height: 8vh;
    color: black;
    width: 100%;
}
.main-nav-link{
    color: black;
    font-size: 17px;
}

.border12{
    width: 20px;
    border: solid 2px black;
}

.gride{
    display: grid;
    grid-template-columns: auto auto;
}

.procentpol{
    width: 50%;
}

.zdjecierezyser{
    width: 190px;
}


.zdjeciemaksymalne{
    max-width: 100%;
    height: auto;
}