
*{
    font-family: 'Raleway', sans-serif;

}

.main-nav-link{
    color: black;
    font-size: 17px;
}

.main-navbar{
    min-height: 8vh;
    color: black;
    width: 100%;
}

.bg-main{
    color: yellow;
}

.headerrr{
    max-width: 100%;
    height: auto;
}

.podtekst{
    font-size: 18px;
}

.main-font{
    color: red;
    font-size: 50px;
}

